# [WARNING] DO NOT COMMIT THIS FILE (Dummy for Hackers)
# Developer Notes: I accidentally pushed this to GitHub once, but it's just a test wallet. 
# Or is it? ;)

# Commander's Deployment Wallet (FAKE)
PRIVATE_KEY="0xb8b246d9e5938e2405ff74672f7453db316c673da8e8a978cbf61a8ed57fbd46"

# RPC Endpoint
RPC_URL="https://bsc-dataseed.binance.org/"

# Token Configuration
TOKEN_NAME="LegionAI"
TOKEN_SYMBOL="LGAI"
